@model MyInventory.Areas.InventoryManagement.Warehouse.Models.ManageWarehouseViewModel

@{
    ViewBag.Title = "Manage Warehouse";
    Layout = "~/Areas/InventoryManagement/Views/Shared/_WarehouseLayout.cshtml";
}

@section TitleText{
    Edit Warehouse
}

<div class="w-100 h-100 px-5 pt-1 pb-3 overflow-auto">

    @using (Html.BeginForm("ManageWarehouse", "Warehouse", new { area = "InventoryManagement" }, FormMethod.Post, new { @autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.WarehouseID)
        <h2 class="mb-4 text-dark">Edit Warehouse</h2>
        @Html.ValidationSummary(null, new { @class = "text-danger", @style = "font-size: 0.9em;" })
        <div class="form-group">
            @Html.LabelFor(x => x.Name, new { @class = "lead" })
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "max-width: 25em;" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description, new { @class = "lead" })
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @style = "max-width: 25em;" })
            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
        </div>
        <div class="mt-5">
            <button type="submit" class="btn btn-siteblue">Update Warehouse</button>
        </div>
    }
</div>