@model MyInventory.Areas.UserManagement.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/UserManagement/Views/Shared/_UserLayout.cshtml";
}


<div class="h-100 w-100 overflow-auto p-4">
    @using (Html.BeginForm("ChangePassword", "User", new { area = "UserManagement" }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        <h2 class="mb-4">Change Password</h2>
        @Html.ValidationSummary(null, new { @class = "text-danger", @style = "font-size: 0.9em;" })
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "lead" })
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @style = "max-width: 25em;", @type = "password" })
            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.NewPassword, new { @class = "lead" })
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @style = "max-width: 25em;", @type = "password" })
            @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
        </div>
        <div>
            <label>Password Criteria:</label>
            <ul>
                @for (int i = 0; i < MILibrary.Password.MIPassword.PasswordRules.Count; i++)
                {
                    <li>@MILibrary.Password.MIPassword.PasswordRules[i]</li>
                }
            </ul>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmNewPassword, new { @class = "lead" })
            @Html.TextBoxFor(x => x.ConfirmNewPassword, new { @class = "form-control", @style = "max-width: 25em;", @type = "password" })
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
        </div>
        @Html.HiddenFor(x => x.UserID)
        <button type="submit" class="btn btn-siteblue">Submit</button>
    }
</div>