@model MyInventory.Areas.UserManagement.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<div class="row h-100 p-0 m-0 overflow-auto">
    <div class="col-4 bg-sitewarmblue text-siteoffwhite p-5" style="font-size: 4em; vertical-align:middle;">
        <svg class="bi" viewBox="0, 0, 20, 20" height="1.5em">
            <use xlink:href="~/Images/BootstrapIcons/bootstrap-icons.svg#box-seam" />
        </svg>
        <span>Register</span>
    </div>
    <div class="col-8 py-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row px-5 py-0 m-0">
                <div class="container-fluid">
                    @Html.ValidationSummary(null, new { @class = "text-danger", @style = "font-size: 0.9em;" })
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, new { @class = "lead" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @style = "max-width: 25em;" })
                        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.FirstName, new { @class = "lead" })
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @style = "max-width: 25em;" })
                        @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LastName, new { @class = "lead" })
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @style = "max-width: 25em;" })
                        @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password, new { @class = "lead" })
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password", @style = "max-width: 25em;" })
                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
                    </div>
                    <div>
                        <label>Password Criteria:</label>
                        <ul>
                            @for (int i = 0; i < MILibrary.Password.MIPassword.PasswordRules.Count; i++)
                            {
                                <li>@MILibrary.Password.MIPassword.PasswordRules[i]</li>
                            }
                        </ul>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "lead" })
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password", @style = "max-width: 25em;" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
                    </div>
                </div>
            </div>
            <div class="row pb-4 pt-0 px-5 m-0">
                <div class="container-fluid" style="font-size: 0.85em;">
                    <div>Already have an account? <a href="@Url.Action("SignIn", "User", new { area = "UserManagement" })">Sign In</a></div>
                </div>
            </div>
            <div class="row py-0 px-5 m-0">
                <div class="container-fluid">
                    <button type="submit" class="btn btn-siteblue">Register</button>
                </div>
            </div>
        }
    </div>
</div>